/*estilo geral*/
*{
    
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;

}

.btn-contato button{
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #BB0000;
    border: 0;
    cursor: pointer;
    transition: .2s;
}

.botao{
    margin-top: 50px;
    margin-left: 500px;
}


/*estilo do cabeçalho*/
header{
    padding: -10px ;
    margin: 10px;

}

    header > .interface{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.img{
    width: 100px;
    height: 100px;
}

header a{
    color: #dca7a7;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: azure;
    transform: scale(1.20);

}

header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #ff0000;
    transform: scale(1.05);
}

/* estilo do topo do site*/
section .topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site h1 span{
    color: #ff0000;

}

.topo-do-site txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }

}

.sobramcelha{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    padding: -50px;
}
p{
    color: #fff;
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;              /* Faz ocupar toda a largura */
    padding: 40px 20px;        /* Espaço interno: 40px em cima/baixo e 20px nos lados */
    box-sizing: border-box;    /* Garante que o padding não quebre o layout */
}

